.hero {
    padding: 240px 0 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__context h4 {
    font-size: 27px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.hero__context h1 {
    font-size: 50px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.hero__context h3 {
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.hero__context span {
    font-size: 22px;
    color: gold;
    letter-spacing: 1px;
}
.hero__context button {
    margin-top: 40px;
}